<div class="container">
  <div class="content">
    <img src="../assets/Images/illustration-box-desktop.svg" alt="" class="img-box">
    <img src="../assets/Images/illustration-woman-online-desktop.svg" alt="" class="img-women2">
    <div class="card card-body">
      <div class="half-l col-sm-12 col-md-6">
        <div class="img-g">
          <img src="../assets/Images/illustration-woman-online-desktop.svg" alt="" class="img-women">
          <img src="../assets/Images/bg-pattern-desktop.svg" class="img-bg" alt="">
        </div>
      </div>
      <div class="half-r col-sm-12 col-md-6 d-flex flex-column justify-content-between">
          <h1>FAQ</h1>
          <div class="sec-faq">
            <div class="faq-g">
              <a href="#faq-1" (click)="onClick($event)" id="faq-h-1" data-bs-toggle="collapse" class="faq-header d-flex justify-content-between align-item-center mb-3 mt-4">
                <p>How many team members can I invite?</p>
                <img src="../assets/Images/icon-arrow-down.svg" alt="">
              </a>
              <div class="collapse multi-collapse" id="faq-1">
                <p class="info mb-2">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis architecto obcaecati fugiat rem quibusdam dolorum temporibus id, possimus eaque quasi!
                </p>
              </div>
            </div>
            <div class="faq-g">
              <a href="#faq-2" (click)="onClick($event)" id="faq-h-2" data-bs-toggle="collapse" class="faq-header d-flex justify-content-between align-item-center mb-3 mt-4">
                <p>What is the maximum file upload size?</p>
                <img src="../assets/Images/icon-arrow-down.svg" alt="">
              </a>
              <div class="collapse multi-collapse" id="faq-2">
                <p class="info mb-2">
                  No more than 2GB. All the files in your account must fit your allotted storage space.
                </p>
              </div>
            </div>
            <div class="faq-g">
              <a href="#faq-3" (click)="onClick($event)" id="faq-h-3" data-bs-toggle="collapse" class="faq-header d-flex justify-content-between align-item-center mb-3 mt-4">
                <p>How do I reset my password?</p>
                <img src="../assets/Images/icon-arrow-down.svg" alt="">
              </a>
              <div class="collapse multi-collapse" id="faq-3">
                <p class="info mb-2">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis architecto obcaecati fugiat rem quibusdam dolorum temporibus id, possimus eaque quasi!
                </p>
              </div>
            </div>
            <div class="faq-g">
              <a href="#faq-4" (click)="onClick($event)" id="faq-h-4" data-bs-toggle="collapse" class="faq-header d-flex justify-content-between align-item-center mb-3 mt-4">
                <p>Can I cancel my subscription?</p>
                <img src="../assets/Images/icon-arrow-down.svg" alt="">
              </a>
              <div class="collapse multi-collapse" id="faq-4">
                <p class="info mb-2">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis architecto obcaecati fugiat rem quibusdam dolorum temporibus id, possimus eaque quasi!
                </p>
              </div>
            </div>
            <div class="faq-g">
              <a href="#faq-5" (click)="onClick($event)" id="faq-h-5" data-bs-toggle="collapse" class="faq-header d-flex justify-content-between align-item-center mb-3 mt-4">
                <p>Do you provide additional support?</p>
                <img src="../assets/Images/icon-arrow-down.svg" alt="">
              </a>
              <div class="collapse multi-collapse" id="faq-5">
                <p class="info mb-2">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis architecto obcaecati fugiat rem quibusdam dolorum temporibus id, possimus eaque quasi!
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>